<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto nuevo</title>
    <meta name="keywords" content="palabras clave ...">
    <meta name="description" content="Este es el sitio web de ...">
    <!-- Enlace a css de bootstrap local-->
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
    <!-- Enlace a css local -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <!-- Acá empieza la cabecera -->
    <header>
        <!-- Acá empieza el nav -->
        <nav>

        </nav>
        <!-- Acá termina el nav-->
    </header>
    <!-- Acá termina la cabecera -->

    <!-- Acá empieza el contenido principal -->
    <main>
        <!-- Acá empieza una sección-->
        <section>
            <div></div>
            <div></div>
            <div></div>
        </section>
        <!-- Acá termina una sección -->

        <!-- Acá empieza otra sección-->
        <section>
            <article></article>
        </section>
        <!-- Acá terminar la sección -->
    </main>
    <!-- Acá termina el contenido principal -->

    <!-- Acá empieza el pie de página -->
    <footer>
        <div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </footer>
    <!-- Acá termina el pie de página -->

    <!-- Enlace a JavaScript local-->
    <script src="#"></script>
    <!-- Enlace a JavaScript de bootstrap local-->
    <script src="../assets/bootstrap/js/bootstrap.js"></script>
</body>
</html>