@charset "UTF-8";
/** Estilos generales **/
* {
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px; }

/***** Variables globales en SASS *****/
/** Variables de colores personalizados **/
/** Variables de colores a usar**/
/*Color del logo*/
/* color de sombra del logo Portfolio, y titulos */
/* color del botón enviar, simbolo 1 y sombra del simbolo 2 */
/*Colores de sombras*/
/*otros colores alternativos*/
/*Variables de colores de Bootstrap*/
/** Variables de fuentes de letras **/
/** Fuentes **/
@font-face {
  font-family: "TrebuchetMS";
  src: url(./fonts/TrebuchetMS/TrebuchetMS.ttf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "BebasNeue";
  src: url(./fonts/BebasNeue/BebasNeue.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "WebSymbolsRegular";
  src: url(./fonts/webSymbols/websymbols-regular-webfont.eot), url(./fonts/webSymbols/websymbols-regular-webfont.eot?#iefix) format("embedded-opentype"), url(./fonts/webSymbols/websymbols-regular-webfont.ttf) format("truetype"), url("./fonts/webSymbols/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Open Sans', sans-serif; }

.hoverMenu {
  transition: all 300ms; }

.hoverMenu:hover {
  transform: scale(1.15, 1.15); }

.logo {
  display: flex;
  align-items: center;
  margin-left: 3vw;
  color: #0d055a;
  padding-left: 1vw;
  padding-right: 2vw; }

.logo:hover {
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden; }

.gear {
  font-family: "webSymbolsRegular";
  margin: 0 1.5vw 0 0;
  font-size: 5vw;
  color: #0d055a;
  text-shadow: 0px 0px 3px #ccc; }

/*animación para hacer girar un elemento*/
.rodar {
  animation-name: rodar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes rodar {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }

.logo:hover .gear {
  animation: cae 500ms linear; }

@keyframes cae {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(200%); }
  100% {
    transform: translateY(0%); } }

.justBeNice {
  font-family: "webSymbolsRegular";
  font-size: 7vw;
  margin-left: 2vw;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 5px #484848; }

.desplazamiento {
  animation-name: desplazamiento;
  animation-duration: 800ms;
  animation-iteration-count: 1;
  animation-timing-function: linear; }

@keyframes desplazamiento {
  0% {
    margin-left: 30vw;
    transform: rotate(360deg); }
  25% {
    margin-left: 24vw;
    transform: rotate(270deg); }
  50% {
    margin-left: 18vw;
    transform: rotate(180deg); }
  75% {
    margin-left: 12vw;
    transform: rotate(90deg); }
  100% {
    margin-left: 0vw;
    transform: rotate(0deg); } }

/*Transición*/
.trans {
  transition: all 1s; }

.trans:hover {
  transform: scale(1.1); }

.logo a {
  text-decoration: none;
  color: #212529;
  font-size: 6vw;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 4.5vw;
  text-shadow: 2px 2px 5px #ccc; }

.logo:hover a {
  animation: fromRight 300ms linear; }

@keyframes fromRight {
  from {
    transform: translateX(200%); }
  to {
    transform: translateX(0%); } }

/* Sección Acerca de */
.img-fotoPerfil {
  max-width: 25vw; }

.acerca-de .foto .nombre {
  color: #545454;
  font-weight: 3000;
  font-size: 18px;
  letter-spacing: 2px; }

.acerca-de .infoAcercaDe .titulo {
  color: #545454;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 30px; }

.acerca-de .infoAcercaDe .resumen {
  letter-spacing: 1px; }

.acerca-de .infoAcercaDe {
  font-size: 18px;
  font-weight: 600;
  color: #545454;
  margin-bottom: 10px; }

.habilidades {
  color: #00538c; }

.titulo {
  font-style: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  margin: 20px 0px 20px 0px;
  background-color: #f8f9fa;
  color: #0d055a;
  padding: 10px; }

#proyectos {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 5vh;
  justify-content: center; }

.proyecto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc inset; }

.img {
  /*640 ancho x 426 alto*/
  width: 100%;
  height: auto;
  padding: 5px;
  border-radius: 10px; }

.info {
  font-style: var(--fuenteDos);
  line-height: 10px;
  margin: 15px 0px 15px 0px; }

.cajaFormulario {
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px #484848;
  max-width: 50vw; }

.btnColorUno {
  background-color: #0d055a;
  font-family: "Nunito", sans-serif; }

.btnColorUno:hover {
  background-color: #00538c; }

.btnColorDos {
  background-color: #a8a8a8;
  font-family: "Nunito", sans-serif; }

.btnColorDos:hover {
  background-color: #ccc; }

#footer {
  max-width: 100vw;
  height: 25vh; }

.icono {
  height: 7vh;
  width: auto;
  border: 1px solid #a8a8a8;
  border-radius: 50%;
  padding: 4px; }

#footer .info {
  text-align: center;
  order: 2;
  color: #a8a8a8; }

.logoFooter {
  order: 1;
  text-decoration: none;
  color: #ccc;
  font-size: 4vw;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 4.5vw;
  margin-right: 2vw;
  text-shadow: 2px 2px 5px #a8a8a8; }

.logoFooter:hover {
  color: #00538c;
  text-shadow: 2px 2px 5px #0d055a; }

.pie {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh; }

@media (max-width: 991.98px) {
  .img-fotoPerfil {
    max-width: 35vw; }
  /*Para sacar la transformación de los items del menú*/
  .hoverMenu {
    transition: none; }
  .hoverMenu:hover {
    transform: none; }
  .logo {
    padding-right: 3vw; }
  .gear {
    font-size: 7vw; }
  .justBeNice {
    font-size: 10vw;
    margin-left: 2vw; }
  .logo a {
    font-size: 5.5vw; }
  #proyectos {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr); }
  .cajaFormulario {
    max-width: 75vw; }
  .logoFooter {
    font-size: 6vw; } }

@media (max-width: 575.98px) {
  .img-fotoPerfil {
    max-width: 50vw; }
  .logo {
    padding-right: 3.5vw; }
  .gear {
    font-size: 8vw; }
  .justBeNice {
    font-size: 11vw;
    margin-left: 2vw; }
  .logo a {
    font-size: 7vw; }
  #proyectos {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-right: 20px; }
  .proyecto {
    width: 85vw;
    height: auto;
    margin-left: 25px; }
  .cajaFormulario {
    max-width: 85vw; }
  .desplazamiento {
    animation-name: desplazamiento;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-function: linear; }
  @keyframes desplazamiento {
    0% {
      /* margin-left: 30vw; */
      transform: rotate(360deg); }
    25% {
      /* margin-left: 24vw; */
      transform: rotate(270deg); }
    50% {
      /* margin-left: 18vw; */
      transform: rotate(180deg); }
    75% {
      /* margin-left: 12vw; */
      transform: rotate(90deg); }
    100% {
      /* margin-left: 0vw; */
      transform: rotate(0deg); } }
  .logoFooter {
    font-size: 10vw; } }
